.main_bottom
  .main_bottom_title
    電気料金の比較
  .main_bottom_present
    現在の契約内容
    .main_bottom_present_company
      .main_bottom_present_company_info
        電力会社
    .main_bottom_present_area
      .main_bottom_present_area_info
        エリア
    .main_bottom_present_menu
      .main_bottom_present_menu_info
        料金メニュー
    .main_bottom_present_kW
      .main_bottom_present_kW_info
        契約容量
  .main_bottom_chosen_company
    .main_bottom_chosen_company_name
    .main_bottom_chosen_company_area
    .main_bottom_chosen_company_menu
    .main_bottom_chosen_company_kW
  .main_bottom-chart
    %canvas#energy_chart
  .main_bottome_result


