.main_top
  .main_top_company
    .main_top_company-title
      比較する電力会社を選ぶ
  .main_top_company-search
    %input.main_top_company-search_form{type: "text", placeholder: ' ex. 東京電力'}
  .main_top_company-search_result
    .card-columns
      - @companies.each do |company|
        .card
          - if company.image != nil
            %img.card-img-top{src: "#{company[:image]}"}
          .card-body.p-2
            %a.card-title{href: "#{company[:url]}", target: "_blank"} 
              = company[:name]
            - if company.text != nil
              .card-text 
                = company[:text]
            %a.btn.btn-secondary{href: "#"} この会社と比較