.nav
  .nav_title
    .nav_title_hamburger
      .nav_title_hamburger_bar
      .nav_title_hamburger_bar
      .nav_title_hamburger_bar
    .nav_title_name enegy cost simulator
  .nav_buttons
    .nav_buttons_csv-import{"data-target" => "#importModal", "data-toggle" => "modal", "data-backdrop" => "true"} config
    .nav_buttons_user-name user name
