* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

.nav {
  height: $header-height;
  width: 100vw;
  background-color: $header-color;
  position: fixed;
  box-shadow: 0px 1px 2px darkgray;
  display: flex;
  justify-content: space-between;
  align-items: center;
  &_title {
    line-height: $header-height;
    width: $side-bar-width;
    text-align: center;
    color: tomato;
    font-size: 22px;
  }
  &_buttons {
    display: flex;
    justify-content: center;
    &_config {
      @include button-set(30px, $btn-color, whitesmoke, 16px);
    }
    &_logout {
      @include button-set(30px, $btn-color, whitesmoke, 16px);
    }
    &_user-name {
      @include button-set(30px, $btn-color, whitesmoke, 16px);
    }   
  }
}

.wrapper {
  padding-top: $header-height;
  display: flex;
  .sidebar {
    @include area-set(calc(100vh - $header-height), $side-bar-width, 15px, whitesmoke);
  }
  .main {
    .main_top {
      @include area-set($main-top-height, $main-width, 15px, whitesmoke);
    }
    .main_bottom {
      @include area-set($main-bottom-height, $main-width, 15px, whitesmoke);
    }
  }
}
