$header-height: 50px;
$side-bar-width: 300px;
$main-width: calc(100vw - #{$side-bar-width});
$main-bottom-height: 250px;
$main-top-height: calc(100vh - #{$header-height} - #{$main-bottom-height});
$header-color: gainsboro;
$btn-color: coral;