$header-height: 60px;
$side-bar-width: 300px;
$main-height: calc(100vh - #{$header-height});
$main-width: calc(100vw - #{$side-bar-width});
$main-bottom-height: 250px;
$main-top-height: calc(#{$main-height} - #{$main-bottom-height});
$header-color: white;
$btn-color: coral;