// Place all the styles related to the estimates controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  margin: 0;
  padding: 0;
}

.nav {
  height: 60px;
  width: 100%;
  background-color:#FE9A2E;
  position: fixed;
}

.wrapper {
  padding-top: 60px;
  display: flex;
  .sidebar {
    height: calc(100vh - 60px);
    width: 200px;
    background-color: whitesmoke;
  }
  .main {
    .main_top {
      height: calc(100vh - 310px);
      width: calc(100vw - 200px);
      background-color: whitesmoke;
    }
    .main_bottom {
      height: 250px;
      width: calc(100vw - 200px);
      background-color: whitesmoke;
    }
  }
}
